body {
    background-color: darkolivegreen;
}

h1{
    color: blanchedalmond;
    display: flex;
    justify-content: center;
}

a{
    color: blanchedalmond;
    font-size: 20px;
    
}

#twitter{
    color: aqua;
}