body {background-color: rgb(143, 89, 89);} 

h1 {
    color: antiquewhite;
    font-style: italic;
}

header nav {
    float: right;
    margin: 10px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
  }

#rcdBtn {
    color: antiquewhite;
    background-color: teal;
    font-size: 25px;
    border-radius: 20px;
    font-family: fantasy;
    
}

#plyBtn {
    color: antiquewhite;
    background-color:teal;
    font-size: 25px;
    border-radius: 20px;
    font-family: monospace;
}

#delBtn {
    color: antiquewhite;
    background-color: teal;
    font-size: 25px;
    border-radius: 20px;
}

#square {
    width: 100px;
    height: 100px;
    background-color: rgb(22, 230, 171);
}

.square2 {
    width: 100px;
    height: 100px;
    background-color: rgb(77, 139, 197);
}
.square3 {
    width: 100px;
    height: 100px;
    background-color:rgb(22, 230, 171);
}

p {
    display: inline-block;
    justify-content: space-between;

}

#new {
    color: burlywood;
    border-radius: 20px;
    border: 5px black bold;
    background-color: teal;
    padding: 10px;
    margin: 10px;
    font-family: cursive;
}

form {
    font-style: italic;
    font-size: 20px;
    /* display:flex; */
    /* padding:10px;
    margin: 10px;
    border: 5px; */

}

#anotherButton {
    background-color: teal;
    color: whitesmoke;
    border-radius: 5px;
    padding: 5px;
    font-family:monospace;
    font-size: 22px;
    
}

footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
}

footer a {
    color: burlywood;
    background-color: rgb(23, 23, 157);
    font-size: 20px;
}