body{
    background-color: burlywood;
}

h1{
    color: cornflowerblue;
}

nav {
    font-size: 20px;
}

#headingLine{
    font-style: italic;
    text-decoration-line: underline;
}

#hover {
    background: transparent;
    box-sizing: border-box;
    border-radius: 0.6rem;
    align-self: center;
    font-size: 17px;
    font-weight: 400;
    margin: 20px;
    padding: 20px 40px;
    text-align: center;
    color: aliceblue;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid rgb(0, 255, 157);

}
button:hover {
    color: black;
    box-shadow: 3px 3px 20px rgb(0, 255, 157),
    3px 2px 20px  rgb(0, 255, 157);
}
